@import "../parciales/vars";
@import "../parciales/responsive";
.main__works {
    background: $fondo-gradiant;
    .work__title {
        font-size: 2.188rem; /* 35px */
        @include tablet-med {
            font-size: 1.56rem;
        }
    }
    #galeria img {
        width: 100%;
        height: 90%;
        &:hover {
            filter: blur(2px);
        }        
    }
}