@import "../parciales/vars";
@import "../parciales/responsive";
.main__works {
    background: $fondo-gradiant;
    .work__title {
        font-size: 2.188rem; /* 35px */
        @include tablet-med {
            font-size: 1.56rem;
        }
    }
    #galeria {
        .row {
            justify-content: center;
            grid-gap: 25px;
        }
        & picture {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 300px;
            & p {
                position: absolute;
                background: rgba(255, 255, 255, 0.8);
                border-radius: 7px;
                transition: .5s;
                z-index: 1000;
                top:25%;
                left: 5%;
                text-decoration: none;
                color: #000;
                width: 90%;
                opacity: 0;
                &:hover {
                    opacity: 1;
                }
            }                                                                                                                                                                                                                    
        }
        & img {
            width: 350px;
            height: 300px;
            &:hover {
                filter: blur(2px);
            }
        }
    }
}