@import "../parciales/vars";
@import "../parciales/responsive";
.main__us {
    background-image: url(../assets/casaEjemplo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50px;
    @include net {
        background-position-y: 0;
        padding: 10% 20%;   
    }
    & .us__article  {
        color: #000;
        font-family: 'Raleway', sans-serif;
        background-color: $transp;
        padding: 1.875rem; /* 30px */
        margin: 5rem 0 0 0 ;
        & h1 {
            font-size: 3.125rem; /* 50px */ 
            font-weight: 900;
            padding-bottom: 0.938rem;
            @include pc {
                font-size: 2.5rem;
            }
            @include tablet {
                font-size: 1.875rem;
                font-weight: bold;
            }
            @include tablet-med {
                font-size: 1.562rem;
            }
            @include mobil{
                font-size: 1.563rem ;/*25px*/
            }
        }
        & h2 {
            font-weight: 700;
            font-size: 1.25rem; /* 20px */
            padding-bottom: 1.875rem; /* 30px */
            @include tablet {
            font-size: 1.562rem; 
            }
            @include tablet-med {
                font-size: 1.25rem;
            }
            @include mobil{
                font-size: 0.938rem; /*15px*/
            }
        }
        & h3 {
            font-weight: 600;
            padding-bottom: 0.938rem; /* 15px */
            @include mobil{
                font-size: 0.9rem; /*15px*/
            }
        }

        & p {
            font-weight: bold;
        }
    }
}