@import "../parciales/responsive";
.main {
    background: url(../assets/img_inicio_2.jpeg);
    background-size: cover;
    @include tablet-med {
        background: url(../assets/img_inicio_2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        padding: 20px;
    }
    &__section {
        background: rgba(0, 0, 0, 0.3);
        margin: 12% 20px 20px 20px;
        @include tablet-med {
            background: rgba(0, 0, 0, 0.3);
        }
        & h2 {
            font-size: 3.125rem; /* 50px */
            @include tablet-med {
                font-size: 32px;
            }
        }
        & h3 {
            font-size: 2.5rem; /* 40px */
            margin: 0.313rem; /* 10px */
            @include tablet-med {
                font-size: 24px;
            }
        }
        & p {
            font-size: 1.25rem; /* 20px */
            font-weight: bold;
            @include tablet-med {
                font-size: 16px;
            }
        }
    }
}