@import "/css/parciales/vars";
.main__sist {
    background: $fondo-gradiant;
    .sist__section--title {
        background: $transp;
        .sist__title h1 {
            font-size: 2.5rem /*40px*/
        }
        .sist__article h2 {
            font-size: 1.875rem; /*30px*/
            padding-bottom: 20px;
        }
        .sist__article h3 {
            font-size: 1.5rem; /*24px*/
            padding-bottom: 20px;
        }
        .sist__article p {
            font-size: 1rem; /*16px*/
            font-weight: bold;
        }
    }
}