@import "../parciales/vars";
@import "../parciales/responsive";
@import "../parciales/mapas";
.main__sist {
    background: $fondo-gradiant;
    .sist__section--title {
        background: $transp;
        .sist__title h1 {
            font-size: map-get($font,40px);
            font-weight: bold;
            @include net {
                font-size: map-get($font,30px);
            }
        }
        .sist__article h2 {
            font-size: map-get($font,30px);
            padding-bottom: 20px;
            @include net {
                font-size: map-get($font,25px);
            }
        }
        .sist__article h3 {
            font-size: map-get($font,24px);
            padding-bottom: 20px;
            @include net {
                font-size: map-get($font,20px);
            }
        }
        .sist__article p {
            font-size: 1rem; /*16px*/
            font-weight: bold;
            @include net {
                font-size: 1rem; /*16px*/
            }
        }
    }
    .sist__section--img img{
        @include tablet-med {
            width: 100%;
        }
    }
}