*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}    

 /* HEADER__INDEX - INICIO */
.header__nav {
    width: 100%;
    height: 5rem; /*80px*/
    background: #000;
    position: fixed;
}
.header__nav .header__logo {
    margin-left: 5rem; /*80px*/
    font-size: 1.25rem; /*20px*/
    font-weight: 900;
}
.header__nav .header__logo a {
    color: #fff;
}
.header__nav .header__logo a:hover {
    color: #aaa;
    transition: 0.3s;
}
.header__nav a {
    text-decoration: none;
}
.header__nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 2.5rem; /*40px*/
    margin: 0 2.5rem 0 0;
}
.header__nav ul a {
    background: #fff;
    padding: 0.313rem 0.625rem; /*5px 10px*/
    border-radius: 0.313rem; /*5px*/
    color: #000;
    transition: 0.3s;
    margin: 0.313rem ;
}
.header__nav ul a:hover {
    background: #aaa;
}
.header__nav .active a{
    background: #999;
} 
#btn {
    display: none;
}
.header__nav label .fas{ 
    display: none;
    cursor: pointer;
    font-size: 30px;
    margin-right: 40px;
    color: #fff;
}
.header__nav label .fas:hover{
    background: rgba(0, 0, 0, 0.3);
    transition: .5s; 
}
/* HEADER__INDEX - FIN */


/* MAIN__INDEX - INICIO */
    main.main {
        background: url(../assets/img_inicio_2.jpeg);
    } 
    .main__section {
        margin-top: 5rem;
        /*
        width: 60%;
        padding: 0 20px;
        color: #fff;
        */
    }
    /*
    .main__section h2 {
        font-size: 3.125rem; /* 50px */
  /*  }
    .main__section article h3 {
        font-size: 2.5rem; /* 40px */
      /*  margin: 0.313rem; /* 10px */
  /*  }
    .main__section article p {
        font-size: 1.25rem; /* 20px */
   /*     font-weight: bold;
    } */
/* MAIN__INDEX - FIN */

/* FOOTER - INICIO */
    footer {
        padding: 15px;
        width: 100%;
        text-align: center;
        color: #000;
        background-color: #fff;
    }
    footer p {
        margin: 0;
    }
    footer a {
        color: #000;
        text-decoration: none;
        transition: .3s;
    }
    footer a:hover {
        background: rgba(170, 170, 170, 0.7);
        border-radius: 4px;
        padding: 5px;
        color: #000;
    }
/* FOOTER - FIN*/

/* MAIN - SOBRE NOSOTROS - INICIO */
    .main__us {
        background-image: url(../assets/casaEjemplo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -10rem;
        margin-top: 5rem;
        padding: 0 20%;
        display: flex;
        align-items: center;
    }
    .main__us .us__article  {
        color: #000;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        background-color: rgba(255, 255, 255, 0.400);
        padding: 1.875rem; /* 30px */
    }
    .us__article h1 {
        font-size: 3.125rem; /* 50px */ 
        font-weight: 900;
        padding-bottom: 0.938rem;
    }
    .us__article h2 {
        font-weight: 700;
        font-size: 1.25rem; /* 20px */
        padding-bottom: 1.875rem; /* 30px */
    }
    .us__article h3 {
        font-weight: 600;
        padding-bottom: 0.938rem; /* 15px */
    }
    .us__article p {
        font-weight: bold;
    }

/* MAIN - SOBRE NOSOTROS - FIN */

/* MAIN nuestrosTrabajos - INICIO*/
.main__works {
    margin-top: 5rem;
    z-index: -1;
}
.work__title {
    text-align: center;
    font-size: 2.188rem; /* 35px */
    margin: 0.625rem; /* 10px */
    color: #fff;
}
.main__works {
    background: rgb(0,0,0);
    background: linear-gradient(71deg, rgba(0,0,0,1) 0%, rgba(26,69,63,1) 33%, rgba(19,33,56,1) 66%, rgba(0,0,0,1) 100%);
}
.work__gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 18.75rem; /*300px*/
    padding: 1.25rem; /*20px*/
    grid-gap: 0.625rem; /*10px*/
}
.work__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.work__gallery picture {
    position: relative;
}
.work__gallery picture p {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    color: #fff;
    padding: 00.625rem;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.5));
}
.work__gallery picture.img1 p {
    color: #000;
}
.work__gallery picture.img8 p {
    color: #000;
}
/* MAIN nuestrosTrabajos - FIN*/

/* SOBRE EL SISTEMA - INICIO */
.main__sist {
    margin-top: 5rem;
    display: flex;
    text-align: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(71deg, rgba(0,0,0,1) 0%, rgba(26,69,63,1) 33%, rgba(19,33,56,1) 66%, rgba(0,0,0,1) 100%);
    padding: 45px 0;
    justify-content: space-around;
}
.sist__section--title {
    width: 50%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 7px;
    padding: 0 20px;
}
.sist__section--img img{
    border-radius: 7px;
}
.main__sist article {
    padding: 20px 0;
}
.sist__title h1 {
    font-size: 2.5rem /*40px*/
}
.sist__article h2 {
    font-size: 1.875rem; /*30px*/
    padding-bottom: 20px;
}
.sist__article h3 {
    font-size: 1.5rem; /*24px*/
    padding-bottom: 20px;
}
.sist__article p {
    font-size: 1rem; /*16px*/
    font-weight: bold;
}
/* SOBRE EL SISTEMA - FIN */

/* CONTACTO - INICIO */
.main__form {
    background: rgb(0,0,0);
    background: linear-gradient(71deg, rgba(0,0,0,1) 0%, rgba(26,69,63,1) 33%, rgba(19,33,56,1) 66%, rgba(0,0,0,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;  
    text-align: center;
}
.main__form h1 {
    font-size: 1.875rem;
    padding-bottom: 20px; 
}
.main__form .form__form input,
.main__form .form__form textarea,
.main__form .form__form select{
    border: none;
    background: none;
    color: #fff;
    border-bottom: 1px solid #666;
    text-align: center;
}
.main__form .form__form option {
    background: #000;
}
.main__form .form__form .button {
    text-transform: uppercase;
    background: #666;
    width: 40%;
    border-radius: 4px;
    height: 20px;
}
.main__form .form__form .button:hover,
.main__form .form__form .button:focus {
    background: #fff;
    color: #000;
    transition: background-color 1s ease-out;
}

.form__datos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.form__datos label {
    padding: 0 20px;
}
.form__form input:hover,
.form__form select:hover,
.form__form textarea:hover{
    background-color: rgba(34, 34, 34, 0.5);
    transition: .4s;
    border-radius: 7px 7px 0 0;
}
/* CONTACTO - FIN */

/* RESPONSIVE - INDEX */
@media (max-width: 1074px) {  
    .us__article h1 {
        font-size: 2.5rem;
    }
    .main__sist {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }
    .sist__section--title {
        width: auto;
        margin: 0 45px 45px 45px;
    }
}

@media (max-width: 992px) {  
    /* HEADER - INDEX */
    .header__nav label .fas{  
        display: block;
    }
    .header__nav ul {
        margin: -5000px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(51, 51, 51, 0.8);
        border-radius: 0 0 7px 7px;
        width: 100%;
        text-align: center;
    }
    .header__nav li {
        margin: 10px;
    }
    #btn:checked ~ ul {
        margin: 300px 0 0 0;
        transition: all .7s;
        
    }
    /*SOBRE NOSOTROS */
    .main__section h2 {
        font-size: 2.5rem;
    }
    .main__section h3 {
        font-size: 1.875rem;
    }
    .main__us {
        background-position-y: 0;
        padding: 10% 20%;
    }

    /*NUESTROS TRABAJOS*/
    .main__works {
        padding-top: 20px;
    }
    .work__title h1 {
        font-size: 1.875rem; /*30px*/
    }

    /*SOBRE EL SISTEMA */
    .sist__title h1 {
        font-size: 1.875rem /*30px*/
    }
    .sist__article h2 {
        font-size: 1.563rem; /*25px*/
    }
    .sist__article h3 {
        font-size: 1.25rem; /*20px*/
    }
    .sist__article p {
        font-size: 1rem; /*16px*/
    }
 } 

@media (max-width: 768px) { 
    .main {
       padding: 20px 0;
    }
    .us__article h1 {
        font-size: 1.875rem;
        font-weight: bold;
    }
    .us__article h2 {
        font-size: 1.562rem;
    }
    .work__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 18.75rem);
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img9";
    }
    .img1 {
        grid-area: img1;
    }
    .img2 {
        grid-area: img2;
    }
    .img3 {
        grid-area: img3;
    }
    .img4 {
        grid-area: img4;
    }
    .img5 {
        grid-area: img5;
    }
    .img6 {
        grid-area: img6;
    }
    .img7 {
        grid-area: img7;
    }
    .img8 {
        grid-area: img8;
    }
    .img9 {
        grid-area: img9;
    }

    /* CONTACTO */
    .main__form {
        padding-bottom: 40px;
    }
    .form__datos {
        display: flex;
        flex-direction: column;
    }
    .form__article h1 {
        font-size: 1.56rem; /*aprox 25px*/
    }
} 

@media (max-width: 597px) {
    main.main {
        background: url(../assets/img_inicio_2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
    }
    .main {
        padding: 20px;
    }
    .main__section {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 7px;
        width: 100%;
        padding: 20px 0 ;
    }
    .main__section h2 {
        font-size: 32px;
    }
    .main__section h3 {
        font-size: 24px;
    }
    .main__section p {
        font-size: 16px;
    }
    .us__article h1 {
        font-size: 1.562rem;
    }
    .us__article h2 {
        font-size: 1.25rem;
    }
    .work__title h1 {
        font-size: 1.56rem;
    }
    .work__gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 18.75rem);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8"
        "img9";
    }

    /* SISTEMA */
    .sist__section--img img{
        width: 100%;
    }

    /*CONTACTO*/
    .form__article h1 {
        font-size: 1.25rem; /*aprox 20px*/
    }
}

@media (max-width: 300px) {  
    .header__logo{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .main__us .us__article h1 {
        font-size: 1.563rem ;/*25px*/
    }
    .main__us .us__article h2 {
        font-size: 0.938rem; /*15px*/
    }
    .main__us .us__article h3 {
        font-size: 0.9rem; /*15px*/
    }
}
